.notes-wrapper {
  input {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.note-row-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  .note-content {
    text-align: left;
    width: 320px;
    color: #4a556b;
  }

  button {
    margin-left: 10px;
  }
}

.notes-list {
  margin-top: 25px;
  list-style-type: none;
}
